body {
  margin:0;
  padding:0;
}

canvas {
  -khtml-user-select:none;
  -moz-user-select:none;
}

.centered {
  text-align: center;
}

#store-canvas {
  border:1px solid silver;
}

#cache-canvas {
  border:1px solid black;
}

.console {
	font-family: monospace;
}
