body {
  margin:0;
  padding:0;
}

canvas, #snippet-list .title {
  -khtml-user-select:none;
  -moz-user-select:none;
}

.centered {
  text-align: center;
}

#store-canvas {
  border:1px solid silver;
}

#cache-canvas {
  border:1px solid black;
}

.console {
  font-family: monospace;
}

#snippet-list {
  padding: 1em;
}

#snippet-list .title {
  font-weight: bold;  
  background-color: #eef;
  color: blue;
}

#snippet-list .title:hover {
  text-decoration: underline;
  cursor: pointer;
}

#run-button, #animate-button {
  font-size: 2em;
}

#instructions {
  font-size: 1.5em;
}

.step-num {
  font-size: 2em;
  font-weight: bold;
}

.step-desc {
  font-size: 2em;
  font-weight: bold;
}
